@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(30,30,30);
}

.main-container {
    width: 414px;
    background-color: #fff;
    height: 100vh;
    overflow: auto;
    border-radius: 10px;
}

.main-nav {
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    width: 414px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-nav_title {
    font-family: Arial, Helvetica, sans-serif;
}

.main-nav_button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin-left: 15px;
}

.stories-container {
    column-gap: 10px;
    display: flex;
    margin-top: 50px;
    overflow-x: auto;
    padding: 0 10px;
}

.story-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 0
}

.story-container_username {
    font-size: 10px;
    margin-top: 10px;
}

.story-container_img {
    border-radius: 50%;
    height: 56px;
    object-fit: cover;
    outline-offset: 3px;
    outline: 1px solid rgb(194, 194, 194);
    width: 56px;
    transition: opacity .3s;
}

.story-container_img:hover {
    cursor: pointer;
    opacity: 0.9;
}

.publication-container {
    width: 100%;
    margin-bottom: 20px;
}

.publication-container_profile {
    display: flex;
    align-items: center;
    padding: 8px;
}

.publication-container_profile__img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.publication-container_profile__username {
    font-size: 14px;
}

.publication-container_image {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.publication-container_controls {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.publication-container_controls__button {
    font-size: 20px;
    background-color: transparent;
    border: none;
    margin-right: 15px;
}

.publication-container_controls__button:last-child {
    margin: 0;
}

.publication-container_interactions {
    padding: 0px 8px;
}

.publication-container_interactions__title {
    font-size: 14px;
    margin: 7px 0px;
}

.publication-container_interactions__likes {
    font-size: 12px;
}

.publication-container_interactions__date {
    font-size: 10px;
    margin-top: 7px;
}

.footer-container {
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid rgb(194, 194, 194);
    bottom: 0;
    display: flex;
    justify-content: space-around;
    position: absolute;
    position: fixed;
    width: 414px;
    padding: 5px;
}

.footer-container_buttons {
    background-color: transparent;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    transition: all .4s;
    text-decoration: none;
    color: #000
}

.footer-container_buttons:hover {
    cursor: pointer;
    background-color: rgb(218, 218, 218);
}

::-webkit-scrollbar {
    display: none;
}